/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Wolves implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

:root {
    --hex-width: 119px;
    --hex-height: 103px;
    --hex-half-height: 51px;
}

#wolves-land-container {
    width: 100%;
}

#wolves-land {
    position: relative;
    transform-origin: top left;
}

.wolves-region {
    background-image: url("img/region.jpg");
    position: absolute;
    width: 475px;
    height: 411px;
    clip-path: polygon(
            18.75% 25%, 25% 12.25%, 37.25% 12.25%, 43.75% 0, 56.25% 0, 62.5% 12.25%, 75% 12.25%, 81.25% 0,
            93.75% 0, 100% 12.5%, 93.75% 25%, 100% 37.5%, 93.75% 50%, 100% 62.5%, 93.75% 75%,
            81.25% 75%, 75% 87.5%, 62.5% 87.5%, 56.25% 100%, 43.75% 100%, 37.25% 87.5%, 25% 87.5%, 18.75% 100%,
            6.25% 100%, 0 87.5%, 6.25% 75%, 0 62.5%, 6.25% 50%, 0 37.5%, 6.25% 25%);
}

.wolves-region-rotated {
    transform: rotate(180deg);
    transform-origin: center;
}

.wolves-hex {
    position: absolute;
    width: var(--hex-width);
    height: var(--hex-height);
    pointer-events: none;
}

.wolves-hex-selector {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%);
    pointer-events: all;
}

.wolves-hex-selector:hover {
    background-color: black !important;
}

.wolves-hex-water > .wolves-hex-selector:hover {
    background-color: revert !important;
}

.wolves-hex-grass > .wolves-hex-selector {
    background-color: lightgreen;
}

.wolves-hex-rock > .wolves-hex-selector {
    background-color: dimgray;
}

.wolves-hex-tundra > .wolves-hex-selector {
    background-color: ghostwhite;
}

.wolves-hex-desert > .wolves-hex-selector {
    background-color: sandybrown;
}

.wolves-hex-forest > .wolves-hex-selector {
    background-color: darkgreen;
}

.wolves-hex-water > .wolves-hex-selector {
    background-color: blue;
}

.wolves-selectable > .wolves-hex-selector {
    border: 2px solid blueviolet;
}

.wolves-selectable > .wolves-hex-selector:hover {
    background-color: blueviolet !important;
}

.wolves-piece {
    position: relative;
    width: var(--hex-width);
    height: var(--hex-height);
}

.wolves-piece-selector {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%);
    pointer-events: none;
}

.wolves-selectable > .wolves-piece-selector {
    border: 2px solid blueviolet;
    pointer-events: all;
}

.wolves-piece-top > .wolves-piece-selector {
    clip-path: polygon(0 100%, 25% 0, 75% 0, 100% 100%);
}

.wolves-piece-bottom > .wolves-piece-selector {
    clip-path: polygon(0 0, 25% 100%, 75% 100%, 100% 0);
}


.wolves-piece-top, .wolves-piece-bottom {
    height: var(--hex-half-height) !important;
}

.wolves-piece-sprite {
    background-color: transparent;
    background-image: url("img/wolves.png");
    background-origin: content-box;
    background-clip: content-box;
    pointer-events: none;
}

.wolves-selectable > .wolves-piece-selector:hover + .wolves-piece-sprite {
    animation-name: pulse;
    animation-direction: alternate;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
}

@keyframes pulse {
    from { opacity: 100% }
    to { opacity: 20% }
}

.wolves-piece-sprite {
    width: var(--piece-width);
    height: var(--piece-height);
    transform: scale(150%);
    transform-origin: center;
    background-position: 0 calc(var(--piece-sprite-y) * -1);
    padding-left: calc((var(--hex-width) - var(--piece-width)) / 2);
    padding-top: calc((var(--hex-height) - var(--piece-height)) / 2);
}

.wolves-piece[data-kind="0"] > .wolves-piece-sprite {
    --piece-width:  50px;
    --piece-height: 48px;
    --piece-sprite-y: 32px;
}

.wolves-piece[data-kind="1"] > .wolves-piece-sprite {
    --piece-width:  44px;
    --piece-height: 32px;
    --piece-sprite-y: 0px;
}

.wolves-piece[data-kind="2"] > .wolves-piece-sprite {
    --piece-width:  50px;
    --piece-height: 44px;
    --piece-sprite-y: 80px;
}

.wolves-piece[data-kind="3"] > .wolves-piece-sprite {
    --piece-width:  50px;
    --piece-height: 54px;
    --piece-sprite-y: 124px;
}

.wolves-piece[data-kind="4"] > .wolves-piece-sprite {
    --piece-width:  72px;
    --piece-height: 72px;
    --piece-sprite-y: 218px;
    transform: none;
}

.wolves-piece[data-kind="5"] > .wolves-piece-sprite {
    --piece-width:  50px;
    --piece-height: 40px;
    --piece-sprite-y: 178px;
}

.wolves-piece-top > .wolves-piece-sprite, .wolves-piece-bottom > .wolves-piece-sprite {
    padding-top: calc((var(--hex-half-height) - var(--piece-height) * 6 / 4) / 2);
}

.wolves-piece[data-owner="1"] > .wolves-piece-sprite {
    background-position: calc(var(--piece-width) * -1) calc(var(--piece-sprite-y) * -1);
}

.wolves-piece[data-owner="2"] > .wolves-piece-sprite {
    background-position: calc(var(--piece-width) * -2) calc(var(--piece-sprite-y) * -1);
}

.wolves-piece[data-owner="3"] > .wolves-piece-sprite {
    background-position: calc(var(--piece-width) * -3) calc(var(--piece-sprite-y) * -1);
}

.wolves-piece[data-owner="4"] > .wolves-piece-sprite {
    background-position: calc(var(--piece-width) * -4) calc(var(--piece-sprite-y) * -1);
}

.wolves-player-status {
    display: flex;
    gap: 4px
}

#wolves-boards {
    display: flex;
    flex-wrap: wrap;
}

#wolves-calendar {
    position: relative;
    background-image: url("img/calendar2_3p.jpg");
    width: 472px;
    height: 296px;
    border-radius: 4px;
}

.wolves-calendar-space {
    position: absolute;
    width: 54px;
    height: 54px;
}

.wolves-calendar-space .wolves-piece-sprite {
    padding: 0;
}

.wolves-moving {
    animation-name: follow-path;
    animation-duration: 1500ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    z-index: 2;
}

@keyframes follow-path {
    from { offset-distance: 0; }
    to { offset-distance: 100%; }
}

.wolves-player-container {
    position: relative;
}

.wolves-player-name {
    position: absolute;
}

.wolves-tile-container {
    width: 100%;
    height: 35%;
}

.wolves-player-tile {
    position: absolute;
    width: 14.2%;
    height: 37.3%;
    border-radius: 22%;
    background-color: red;
}

.wolves-player-tile:nth-child(1) { left: 3.9%; top: 7% }
.wolves-player-tile:nth-child(2) { left: 19.5%; top: 3% }
.wolves-player-tile:nth-child(3) { left: 35% }
.wolves-player-tile:nth-child(4) { left: 50.5% }
.wolves-player-tile:nth-child(5) { left: 66.5%; top: 3% }
.wolves-player-tile:nth-child(6) { left: 82%; top: 7% }

.wolves-player-board {
    position: relative;
}

.wolves-player-board:after {
    position: relative;
    min-width: 500px;;
    content: "";
    background-image: url("img/player.png");
    background-size: cover;
    display: block;
    width: 100%;
    height: 0;
    padding-top: 57.2%;
    overflow: hidden;
    z-index: -1;
}

.wolves-space-group {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.wolves-pack-group { left: 6.9%; top: 30.8% }
.wolves-speed-group { left: 40.8%; top: 36.8% }
.wolves-howl-group { left: 74.2%; top: 30.8% }
.wolves-lair-group { left: 7.5%; top: 75.8% }
.wolves-prey-group { left: 30.8%; top: 76.4% }
.wolves-wolf-group { left: 76.9%; top: 63% }

.wolves-player-board-space {
    position: absolute;
    border-radius: 4%;
    background-color: black;
    transition: transform 500ms ease-in;
    pointer-events: all;
}

.wolves-player-board-space:hover {
    transform: translateY(-100%);
    transition-timing-function: ease-out;
}

.wolves-den-space {
    width: 5.3%;
    height: 6.7%;
}

.wolves-den-space:nth-child(1) { left: 5.9% }
.wolves-den-space:nth-child(2) { left: 11.7% }
.wolves-den-space:nth-child(3) { left: 2.9%; top: 7.6% }
.wolves-den-space:nth-child(4) { left: 8.8%; top: 7.6% }

.wolves-lair-space {
    width: 4.2%;
    height: 14%;
}

.wolves-lair-space:nth-child(2) { left: 5.2% }
.wolves-lair-space:nth-child(3) { left: 10.4% }
.wolves-lair-space:nth-child(4) { left: 15.6% }

.wolves-prey-space {
    width: 7.5%;
    height: 10.9%;
    clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%);
}

.wolves-prey-space:nth-child(2) { left: 8.3% }
.wolves-prey-space:nth-child(3) { left: 16.6% }
.wolves-prey-space:nth-child(4) { left: 24.9% }
.wolves-prey-space:nth-child(5) { left: 33.2% }

.wolves-wolf-space {
    width: 3.8%;
    height: 16%;
}

.wolves-wolf-space:nth-child(n + 5) { top: 17.2% }
.wolves-wolf-space:nth-child(4n + 2) { left: 4.1% }
.wolves-wolf-space:nth-child(4n + 3) { left: 8.2% }
.wolves-wolf-space:nth-child(4n + 4) { left: 12.3% }
