/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Wolves implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

html {
    background-color: #18A7AA;
    background-image: unset;
}

:root {
    --hex-width: 118px;
    --hex-height: 102px;
    --tile-width: 196px;
    --tile-height: 297px;
    --piece-scale: 0.8;
}

.wolves-terrain-tile {
    width: var(--tile-width);
    height: var(--tile-height);
    background-image: url("img/tiles.jpg");
    background-clip: content-box;
    background-repeat: no-repeat;
}

.wolves-terrain-tile[data-x="1"] {
    background-position-x: calc(var(--tile-width) * -1);
}

.wolves-terrain-tile[data-x="2"] {
    background-position-x: calc(var(--tile-width) * -2);
}

.wolves-terrain-tile[data-x="3"] {
    background-position-x: calc(var(--tile-width) * -3);
}

.wolves-terrain-tile[data-x="4"] {
    background-position-x: calc(var(--tile-width) * -4);
}

.wolves-terrain-tile[data-y="1"] {
    background-position-y: calc(var(--tile-height) * -1);
}

.wolves-terrain-tile[data-y="2"] {
    background-position-y: calc(var(--tile-height) * -2);
}

#wolves-active-tiles {
    display: flex;
    gap: 8px;
    justify-content: center;
}

#wolves-active-tiles.hidden {
    display: none;
}

.wolves-active-tile {
    border-radius: 52px;
    flex-shrink: 0;
    background-image: url("img/tiles.jpg");
    background-clip: content-box;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px black;
}

.wolves-active-tile.wolves-selected {
    box-shadow: inset 0 0 4px 12px #f00c, 0 4px 8px black;
}

#wolves-game {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

#wolves-land-container {
    width: 100%;
}

#wolves-land {
    position: relative;
    transform-origin: top left;
    margin: auto;
}

.wolves-region {
    background-image: url("img/regions.jpg");
    position: absolute;
    width: 475px;
    height: 411px;
    clip-path: polygon(
            18.75% 25%, 25% 12.25%, 37.25% 12.25%, 43.75% 0, 56.25% 0, 62.5% 12.25%, 75% 12.25%, 81.25% 0,
            93.75% 0, 100% 12.5%, 93.75% 25%, 100% 37.5%, 93.75% 50%, 100% 62.5%, 93.75% 75%,
            81.25% 75%, 75% 87.5%, 62.5% 87.5%, 56.25% 100%, 43.75% 100%, 37.25% 87.5%, 25% 87.5%, 18.75% 100%,
            6.25% 100%, 0 87.5%, 6.25% 75%, 0 62.5%, 6.25% 50%, 0 37.5%, 6.25% 25%);
    transform-origin: center;
}

.wolves-region[data-tile="0"] {
    background-position: -620px -660px;
}

.wolves-region[data-tile="1"] {
    background-position: 0 -404px;
}

.wolves-region[data-tile="2"] {
    background-position: -444px -354px;
}

.wolves-region[data-tile="3"] {
    background-position: -792px -964px;
    transform: rotate(180deg);
}

.wolves-region[data-tile="4"] {
    background-position: -1058px -608px;
}

.wolves-region[data-tile="5"] {
    background-position: -884px -302px;
}

.wolves-region[data-tile="6"] {
    background-position: -180px -712px;
}

.wolves-region[data-tile="7"] {
    background-position: -1236px -910px;
    transform: rotate(180deg);
}

.wolves-region[data-tile="8"] {
    background-position: -528px -1318px;
}

.wolves-region[data-tile="9"] {
    background-position: -708px 2px;
    transform: rotate(180deg);
}

.wolves-region[data-tile="10"] {
    background-position: -352px -1014px;
    transform: rotate(180deg);
}

.wolves-region-rotated {
    transform: rotate(180deg) !important;
}

.wolves-region-rotated[data-tile="3"],
.wolves-region-rotated[data-tile="7"],
.wolves-region-rotated[data-tile="9"],
.wolves-region-rotated[data-tile="10"] {
    transform: none !important;
}

.wolves-hex {
    position: absolute;
    width: var(--hex-width);
    height: var(--hex-height);
    pointer-events: none;
}

.wolves-hex-selector {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%);
    pointer-events: all;
}

.wolves-hex-water > .wolves-hex-selector {
    pointer-events: none;
}

#wolves-land.wolves-selectable > .wolves-hex:not(.wolves-selectable) > .wolves-hex-selector {
    background-color: #4b4b4b;
    opacity: 0.7;
    mix-blend-mode: multiply;
}

.wolves-selectable > .wolves-hex-selector {
    pointer-events: all;
}

.wolves-selectable > .wolves-hex-selector:hover {
    backdrop-filter: contrast(150%) blur(0.5px) saturate(130%);
}

.wolves-selectable > .wolves-hex-selector:hover:after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FF0000a0;
    clip-path: polygon(
        0 50%, 25% 0%, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%,
        10% 50%, 30% 91.34%, 70.0% 91.34%, 90% 50%, 70% 8.66%, 30% 8.66%, 10% 50%);
    pointer-events: none;
}

.wolves-moon {
    position: absolute;
    width: 120px;
    height: 120px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-position-y: -424px;
    background-image: url("img/pieces.png");
    transform: scale(var(--piece-scale));
}

.wolves-moon[data-phase="1"] {
    background-position-x: -120px;
}

.wolves-moon[data-phase="2"] {
    background-position-x: -240px;
}

.wolves-moon:nth-child(3) {
    transform: scale(var(--piece-scale)) translateY(-12px);
}

#wolves-marker-scoring, .wolves-moon.wolves-upcoming:after {
    display: block;
    content: "";
    position: absolute;
    width: 62px;
    height: 62px;
    background-image: url("img/pieces.png");
    background-position: -350px -154px;
    transform: scale(var(--piece-scale));
}

.wolves-moon.wolves-upcoming:after {
    right: 5%;
    bottom: 20%;
}

.wolves-piece-selector {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%);
    pointer-events: none;
}

.wolves-selectable > .wolves-piece-selector {
    pointer-events: all;
}

.wolves-piece-top > .wolves-piece-selector {
    clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%);
}

.wolves-piece-bottom > .wolves-piece-selector {
    clip-path: polygon(0 50%, 25% 100%, 75% 100%, 100% 50%);
}

.wolves-piece-sprite {
    position: absolute;
    width: var(--piece-width);
    height: var(--piece-height);
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    background-image: url("img/pieces.png");
    background-origin: content-box;
    background-clip: content-box;
    background-position-y: calc(var(--piece-sprite-y) * -1);

    pointer-events: none;
    transform: scale(var(--piece-scale)) translateY(-35%);
    transform-origin: center;
    transition: transform 400ms ease-out;
}

.wolves-piece-top > .wolves-piece-sprite {
    transform: scale(var(--piece-scale)) translateY(-60%);
}

.wolves-piece-bottom > .wolves-piece-sprite {
    transform: scale(var(--piece-scale)) translateY(10%);
}

.wolves-piece.wolves-selected > .wolves-piece-sprite,
.wolves-selectable > .wolves-piece-selector:hover + .wolves-piece-sprite {
    filter: contrast(150%) saturate(130%);
}

@keyframes pulse {
    from { opacity: 100% }
    to { opacity: 20% }
}

.wolves-piece[data-kind="0"] > .wolves-piece-sprite,
.wolves-piece[data-kind="1"] > .wolves-piece-sprite,
.wolves-piece[data-kind="2"] > .wolves-piece-sprite,
.wolves-piece[data-kind="3"] > .wolves-piece-sprite {
    background-blend-mode: multiply;
    mask-image: url("img/pieces.png");
    mask-position: 0 calc(var(--piece-sprite-y) * -1);;
    -webkit-mask-image: url("img/pieces.png");
    -webkit-mask-position: 0 calc(var(--piece-sprite-y) * -1);;
}

.wolves-piece[data-owner="0"]:not([data-kind="5"]) > .wolves-piece-sprite {
    background-color: limegreen;
}

.wolves-piece[data-owner="1"]:not([data-kind="5"]) > .wolves-piece-sprite {
    background-color: #976dee;
}

.wolves-piece[data-owner="2"]:not([data-kind="5"]) > .wolves-piece-sprite {
    background-color: yellow;
}

.wolves-piece[data-owner="3"]:not([data-kind="5"]) > .wolves-piece-sprite {
    background-color: #70cfee;
}

.wolves-piece[data-owner="4"]:not([data-kind="5"]) > .wolves-piece-sprite {
    background-color: #b76327;
}

.wolves-piece[data-owner="N/A"]:not([data-kind="4"]) > .wolves-piece-sprite {
    background-color: #e4e4e4;
}

.wolves-piece[data-kind="0"] > .wolves-piece-sprite {
    --piece-width:  101px;
    --piece-height: 95px;
    --piece-sprite-y: 0px;
}

.wolves-piece[data-kind="1"] > .wolves-piece-sprite {
    --piece-width:  94px;
    --piece-height: 60px;
    --piece-sprite-y: 96px;
}

.wolves-piece[data-kind="2"] > .wolves-piece-sprite {
    --piece-width:  72px;
    --piece-height: 60px;
    --piece-sprite-y: 156px;
}

.wolves-piece[data-kind="3"] > .wolves-piece-sprite {
    --piece-width:  95px;
    --piece-height: 100px;
    --piece-sprite-y: 220px;
}

.wolves-piece[data-kind="4"] > .wolves-piece-sprite {
    --piece-width:  100px;
    --piece-height: 100px;
    --piece-sprite-y: 320px;
    transform: scale(var(--piece-scale))
}

.wolves-piece[data-kind="5"] > .wolves-piece-sprite {
    --piece-width:  90px;
    --piece-height: 74px;
    --piece-sprite-y: 546px;
    transform: scale(var(--piece-scale))
}

.wolves-piece[data-kind="5"][data-owner="1"] > .wolves-piece-sprite {
    background-position-x: calc(var(--piece-width) * -1);
}

.wolves-piece[data-kind="5"][data-owner="2"] > .wolves-piece-sprite {
    background-position-x: calc(var(--piece-width) * -2);
}

.wolves-piece[data-kind="5"][data-owner="4"] > .wolves-piece-sprite {
    background-position-x: calc(var(--piece-width) * -3);
}

.wolves-piece[data-kind="5"][data-owner="0"] > .wolves-piece-sprite {
    background-position-x: calc(var(--piece-width) * -4);
}

.wolves-player-status {
    display: flex;
    gap: 4px
}

#wolves-boards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

#wolves-calendar {
    position: relative;
    background-image: url("img/calendar2_3p.jpg");
    width: 472px;
    height: 296px;
    border-radius: 4px;
}

.wolves-calendar-space {
    position: absolute;
    width: 54px;
    height: 54px;
}

.wolves-calendar-space .wolves-piece-sprite {
    transform: scale(var(--piece-scale));
}

.wolves-moving {
    offset-rotate: 0deg;
    animation-name: follow-path;
    animation-duration: 1500ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    z-index: 2;
}

@keyframes follow-path {
    from { offset-distance: 100%; }
    to { offset-distance: 0; }
}

.wolves-player-container {
    position: relative;
    height: 386px;
}

.wolves-player-name {
    position: absolute;
    top: 39%;
    width: 100%;
    text-align: center;
}

.wolves-tile-container {
    width: 100%;
    height: 100px;
}

.wolves-player-tile {
    position: absolute;
    --tile-width: 72px;
    --tile-height: 106px;
    border-radius: 19px;
    background-size: 359px 317px;
    box-shadow: 0 2px 4px black;
}

.wolves-player-tile:nth-child(1) { left: 3.9%; top: 6% }
.wolves-player-tile:nth-child(2) { left: 19.5%; top: 3% }
.wolves-player-tile:nth-child(3) { left: 35% }
.wolves-player-tile:nth-child(4) { left: 50.5% }
.wolves-player-tile:nth-child(5) { left: 66.5%; top: 3% }
.wolves-player-tile:nth-child(6) { left: 82%; top: 6% }

.wolves-player-board {
    position: relative;
}

.wolves-player-board:after {
    position: relative;
    min-width: 500px;;
    content: "";
    background-image: url("img/player.png");
    background-size: cover;
    display: block;
    width: 100%;
    height: 0;
    padding-top: 57.2%;
    overflow: hidden;
    z-index: -1;
}

.wolves-space-group {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.wolves-pack-group { left: 6.9%; top: 30.8% }
.wolves-speed-group { left: 40.8%; top: 36.8% }
.wolves-howl-group { left: 74.2%; top: 30.8% }
.wolves-lair-group { left: 7.5%; top: 75.8% }
.wolves-prey-group { left: 30.8%; top: 76.4% }
.wolves-wolf-group { left: 76.9%; top: 63% }

.wolves-player-board-space {
    position: absolute;
    border-radius: 4%;
    background-color: black;
    transition: transform 500ms ease-in;
    pointer-events: all;
}

.wolves-player-board-space:hover {
    transform: translateY(-100%);
    transition-timing-function: ease-out;
}

.wolves-den-space {
    width: 5.3%;
    height: 6.7%;
}

.wolves-den-space:nth-child(1) { left: 5.9% }
.wolves-den-space:nth-child(2) { left: 11.7% }
.wolves-den-space:nth-child(3) { left: 2.9%; top: 7.6% }
.wolves-den-space:nth-child(4) { left: 8.8%; top: 7.6% }

.wolves-lair-space {
    width: 4.2%;
    height: 14%;
}

.wolves-lair-space:nth-child(2) { left: 5.2% }
.wolves-lair-space:nth-child(3) { left: 10.4% }
.wolves-lair-space:nth-child(4) { left: 15.6% }

.wolves-prey-space {
    width: 7.5%;
    height: 10.9%;
    clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%);
}

.wolves-prey-space:nth-child(2) { left: 8.3% }
.wolves-prey-space:nth-child(3) { left: 16.6% }
.wolves-prey-space:nth-child(4) { left: 24.9% }
.wolves-prey-space:nth-child(5) { left: 33.2% }

.wolves-wolf-space {
    width: 3.8%;
    height: 16%;
}

.wolves-wolf-space:nth-child(n + 5) { top: 17.2% }
.wolves-wolf-space:nth-child(4n + 2) { left: 4.1% }
.wolves-wolf-space:nth-child(4n + 3) { left: 8.2% }
.wolves-wolf-space:nth-child(4n + 4) { left: 12.3% }
